{% extends "main.jinja.html" %}

{% block head_extension%}
<link rel="stylesheet" type="text/css" href="{{ url_for_within_issuer('static', filename='styles_pac_info.css') }}">
{% endblock %}


{# ========== Template  ==========  #}

    {% block page_main_content  %}

    <div
        id="page-root"
        hx-get="{{slow_content_url}}"   
        hx-trigger="load"
        hx-target="#page-root"
        hx-swap="outerHTML"
        hx-push-url="false"
    >
        {% block landing_page_placeholder %}
        <div class="lf-content-container">
            
            <img src="{{ resolve_static_image('loading_logo') }}" alt="Loading" class="lf-loading-logo"><br>
            <b>Loading</b>
        </div>
        {% endblock %}

    </div>
    {% endblock %}





